*{
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

.preto-1, .preto-2, .preto-3, .preto-4 {
    background-color: black;
    position: absolute;
    width: 150px;
    height: 150px;
}

.preto-2 {
    top: 0;
    right: 0;
}

.preto-3 {
    bottom: 0;
    left: 0;
}

.preto-4 {
    bottom: 0;
    right: 0;
}